/* == Informações Frete Grátis, Produção, Retirada e Cupom == */
.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
  font-size: 13px;
}

.container--link {
  justify-content: center;
}

/* == Créditos no Rodapé == */
.paragraph--footer {
  color: #ffffff;
}

/* == Whatsapp == */
.wrapper--whatsapp-message {
  margin-top: -50px;
  color: #ffffff;
}
.link {
  color: #59ff00;
}