/* == Preço Tachado == */
.listPrice {
  color: #ffffff;
  margin-bottom: 4px;
  font-size: 16px;
}

/* == Preço de Venda no Sumário do Produto == */
.sellingPrice {
  color: #59ff00;
  font-size: 20px;
}

.sellingPriceValue {
  font-size: 2.25rem;
  font-weight: 700;
}

/* == Informação de Parcelamento == */
.installments {
  color: #ffffff;
  margin-bottom: 16px;
}

/* == Economize no Sumário do Produto == */
.savings {
  font-weight: 500;
  color: #59ff00;
}

/* == Preço de Venda == */
.sellingPriceValue--summary {
  font-size: 20px;
  font-weight: 600;
  color: #59ff00;
}

/* == Economize na Página Inicial == */
.savings--summary {
  background: #59ff00;
  border-radius: 1000px;
  align-items: center;
  display: flex;

  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
  font-weight: 600;
  vertical-align: baseline;
  color: #000000;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: .875rem;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

/* == Porcentagem de Desconto na Página Galeria do Produto == */
.savings--summaryPercentage {
  background: #303030;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}
.savingsPercentage--summaryPercentage {
  font-size: 14px;
  font-weight: 600;
  vertical-align: baseline;
  color: #59ff00;
  padding: 4px 8px 4px 8px;
}
