/* == Página da Galeria do Produto == */
.galleryLayoutOptionButton {
  background-color: #F0F0F0;
  color: #303030;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3F3F40;
  color: #FFFFFF;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center
}

/* Linha Divisória da Lista de Produtos */
.galleryItem--list {
  border-bottom: 2px #FFFFFF solid;
}

/* Nome do Produto */
.galleryTitle--layout {
  color: #FFFFFF;
}