/* == Produtos da Página Inicial == */
.flexRow {
  background-color: #6e6e6e;
}

.flexRow--productSpecificationGroup:not(:first-child) {
  margin-top: 24px;
}

.flexRow--productSpecificationGroupName {
  background-color: #eaeaea;
  padding: 8px 16px;
}

.flexCol--productSpecificationName {
  padding: 16px;
}

.flexCol--productSpecificationValue {
  padding: 16px 16px 16px 0;
}

.flexRow--productSpecification:nth-child(even) {
  background-color: #f9f9f9;
}
