/* == Link da UpMedal na Página da Galeria do Produto == */
.productBrandName--summaryListDesktop { /* Desktop */
  text-decoration: none;
  font-weight: 500;
  color: #59ff00;
  font-size: 14px;
}

.productBrandName--summaryListMobile { /* Mobile */
  text-decoration: none;
  color: #59ff00;
  font-size: 14px;
}
