/* == Página Galeria do Produto == */
.flexRow--orderByAndSwitcher { /* Filtro Ordenar */
  padding-right: 24px;
}

/* Desktop */
.flexRowContent--savingsSummaryListDesktop {
  justify-content: flex-start;
}
.flexCol--summaryRightListDesktop {
  justify-content: space-around;
}

/* Botão Comprar Agora na Página Galeria do Produto == */
.flexRow--buyNowButton :global(.vtex-button) {
  background: #ffffff;
  border-color: #303030;
  color: #59ff00;
}
.flexRow--buyNowButton:hover :global(.vtex-button) {
  background: #59ff00;
  border-color: #303030;
}
.flexCol--productRating {
  margin-bottom: 48px;
}

/* Mobile */
.flexCol--summaryDetailsListMobile {
  justify-content: space-between;
}
.flexCol--summaryUpDetailsListMobile {
  margin-bottom: 4px
}
